* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html, body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow: hidden;
  }
  
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  
  input, button, textarea, select {
    font: inherit;
  }
  
  a {
    text-decoration: none;
    color: inherit;
  }
  
  ul, ol {
    list-style: none;
  }
  button{
    background: none;
    border: none;
  }
  /*          FONTS        */

  @font-face{
    font-family: "TT Lakes";
    src:
        local("TT Lakes");
  }
  body{
    font-family: "TT Lakes", sans-serif;
    width: 100%;
  }



/*          SIDEBAR        */




.header-sidebar{
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 333px;
    background-color: white;
    box-shadow: .0625rem 0 5.625rem 0rem rgba(0, 0, 0, 0.747);
    overflow: auto;
    
}

.header-sidebar__header{
        display: flex;
        width: inherit;
        padding: 1.125rem 1.5rem 10px;
        align-items: center;
        position: fixed;
        background: linear-gradient(to bottom, white 0%, white 85%, rgba(255, 255, 255, 0.5) 95%, transparent 100%);
        z-index: 12;
        height: 95px;
}

.sidebar-button{
    display: block;
    border: none;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    cursor: pointer;
    transition:  all 0.3s ease;
    background-color: #FF3E79;
    background-repeat: no-repeat;
    background-position: center;
}
.sidebar-button:hover{
    opacity: 0.8;
    transform: scale(0.9);
}

.header-sidebar__close-button{
    background-image: url("button-icons/close.svg");
}

.header-sidebar__logo{
    width: 6.0625rem;
    height: 3.1875rem;
    margin-left: 1rem;
    background: url("icons/logo.svg") no-repeat center;

}

.header-sidebar__search-button{
    margin-left: auto;
    background-image: url("button-icons/search.svg");
}
.header-sidebar__menu{
    margin-top: 110px;
}
.header-sidebar__menu-list{
    display: flex;
    flex-direction: column;
    gap: 1.75rem;
    position: relative;
}
.header-sidebar__menu-item{
    position: relative;
    transition:  all 0.3s ease;
    padding-top: 4px;
}

.header-sidebar__menu-item:hover::before,
.header-sidebar__menu-item--active:before{
    content: "";
    display: block;
    position: absolute;
    top: 0rem;
    left: 0;
    z-index: 100;
    width: .25rem;
    height: 2rem;
    background-color: #41f6d8cb;
    border-top-right-radius: .625rem;
    border-bottom-right-radius: .625rem;
}

.header-sidebar__menu-link{
    padding-left: 1.4375rem;
    display: block;
    font-weight: 500;
    font-size: 1rem;
    letter-spacing: -0.0125rem;
    transition:  all 0.3s ease;

}

.header-sidebar__menu-item:hover .header-sidebar__menu-link,
.header-sidebar__menu-item--active .header-sidebar__menu-link{
    padding-left: 1.5625rem;
    opacity: 0.5;
}

.header-sidebar__footer{
    margin-top: 115px;
}

.header-sidebar__contact-buttons{
    display: flex;
    gap: 1rem;
    padding-left: 1.5rem;
}

.header-sidebar__contact-button:nth-child(1){
    background-image:url("button-icons/call.svg");
}
.header-sidebar__contact-button:nth-child(2){
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 -8 32 50'><path d='M27.24 6H4.76A2.77 2.77 0 0 0 2 8.76v14.48A2.77 2.77 0 0 0 4.76 26h22.48A2.77 2.77 0 0 0 30 23.24V8.76A2.77 2.77 0 0 0 27.24 6zm-.85 2-9.76 7.77a1 1 0 0 1-1.26 0L5.61 8zm.85 16H4.76a.76.76 0 0 1-.76-.76v-14l10.12 8.06a3 3 0 0 0 3.76 0L28 9.28v14a.76.76 0 0 1-.76.72z' style='fill:white'/></svg>");
}
.header-sidebar__contact-button:nth-child(3){
    background-image:url("button-icons/profile.svg") ;                
}

.header-sidebar__contacts{
    margin-top: 1rem;
    margin-bottom: 25px;
    padding-left: 1.5rem;
}

.header-sidebar__contact-email{
    margin-bottom: .75rem;
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.5rem;
    letter-spacing: -0.0125rem;
    color: #1B1C21;
}
.header-sidebar__contact-number{
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 2rem;
    letter-spacing: -0.0375rem;
}

.header-sidebar__language-chose{
    display: flex;
    align-items: center;
    gap: .4375rem;
    padding-left: 1.5rem;
    margin-bottom: 10px;
}

.header-sidebar__language-button{
    text-transform: uppercase;
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.5rem;
    letter-spacing: -0.0125rem;
    cursor: pointer;
    transition: all 0.3s ease;
}

.header-sidebar__language-button:hover,
.header-sidebar__language-button--active{
    color: rgba(0, 0, 0, 0.551);
}
